<!-- 
  Author: Phuong Linh Pham (300923800)
  File Name: projects.ejs
  Website Name: Projects | Phuong Linh Pham
  Description:  This is the projects page '/project'
                This page contains a list of development projects that 
                I have accompished & currently participating
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body" id="projects">
  <div class="row">
    <div class="col-md-offset-0 col-md-0">
      <div class="bodyContainer projects text-center">      
        <h2><b>List of Projects<b></h2><br>
        <!-- IN PROGRESS SECTION -->
        <p class="animated pulse infinite"><b><i>In Progress</b></i></p>
        <!-- Under ordered list for In Progress -->
        <ol>        
          <li><a href="#" data-toggle="tooltip" title="<%= project_progress_1 %>" class="hvr-shrink">Developing A Web Application For Meeting and Party using ASP.NET Core</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= project_progress_2 %>" class="hvr-shrink">Developing Portfolio Website using MEAN</a></li>
        </ol>        
        <br>
        <!-- COMPLETED SECTION -->
        <p class="animated pulse infinite"><b><i>Completed</b></i></p>
        <!-- Under ordered list for In Progress -->        
        <ol>        
          <li><a href="#" data-target="#modal_viewer" data-toggle="modal" id="dragonslayer" title="<%= project_completed_1 %>" class="hvr-shrink">Dragon Slayer game - written in TypeScript with CreateJS libraries working as the lead developer <br>(Click to view image)</a></li>
          <li><a href="#" data-target="#modal_viewer2" data-toggle="modal" id="moviemaniac" title="<%= project_completed_2 %>" class="hvr-shrink">Movie Maniac - written in ASP.NET and implemented SQL data<br>(Click to view image)</a></li>
          <li><a href="#" data-target="#modal_viewer3" data-toggle="modal" id="worldcuisinerestaurant" title="<%= project_completed_3 %>"  class="hvr-shrink">World Cuisines Restaurant - developed an asynchronous RESTful API with ASP.NET CORE 2.0 and provided documentation with Swagger framework<br>(Click to view image)</a></li>       
        </ol>   
      </div> <!-- bodyContainer projects -->
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<% include ../partials/modalviewer.ejs %>
<% include ../partials/footer.ejs %>
